
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: rgba(197, 199, 196, 0.6);
  border-radius: 30px;
  padding: 10px;
  max-width: 50%;
  
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  
  
  

}

.searchbar:hover > .search_input {
  width: 100px;
  caret-color: black;
  
  
}

.searchbar:hover > .search_icon {
  background: rgb(201, 207, 207);
  color: black
  ;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-decoration: none;
}

